@model IEnumerable<FYP_App.Models.Sensor>
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/AdminLayOut.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Information Cards - Bootsnipp.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .my-card {
            position: absolute;
            left: 40%;
            top: -20px;
            border-radius: 50%;
        }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css
">


    <br />
    <br />
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="34" height="34" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
        <h4>
            &nbsp;&nbsp;&nbsp;&nbsp;𝐂𝐨𝐧𝐠𝐫𝐚𝐭𝐮𝐥𝐚𝐭𝐢𝐨𝐧𝐬 ,𝐋𝐨𝐠𝐈𝐧 𝐒𝐮𝐜𝐜𝐞𝐬𝐬𝐟𝐮𝐥𝐥𝐲 !!
        </h4>
    </div>



    <div class="jumbotron">
        <div class="row w-100">

            <div class="col-md-3">
                <div class="card border-info mx-sm-1 p-3">
                    <div class="card border-info shadow text-info p-3 my-card"><span class="fa fa-user" aria-hidden="true"></span></div>
                    <div class="text-info text-center mt-3"><h4>𝐓𝐨𝐭𝐚𝐥 𝐔𝐬𝐞𝐫𝐬</h4></div>
                    <div class="text-info text-center mt-2"><h1>  @ViewBag.Countuser </h1></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-success mx-sm-1 p-3">
                    <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-eye" aria-hidden="true"></span></div>
                    <div class="text-success text-center mt-3"><h5>𝐀𝐩𝐩𝐫𝐨𝐯𝐞𝐝 𝐔𝐬𝐞𝐫𝐬</h5></div>
                    <div class="text-success text-center mt-2"><h1>  @ViewBag.Countapproveduser </h1></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-info mx-sm-1 p-3">
                    <div class="card border-info shadow text-info p-3 my-card"><span class="fa fa-inbox" aria-hidden="true"></span></div>
                    <div class="text-info text-center mt-3"><h4>𝐓𝐨𝐭𝐚𝐥 𝐂𝐨𝐦𝐩𝐥𝐚𝐢𝐧𝐭𝐬</h4></div>
                    <div class="text-info text-center mt-2"><h1>  @ViewBag.Counttotal </h1></div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card border-success mx-sm-1 p-3">
                    <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-inbox" aria-hidden="true"></span></div>
                    <div class="text-success text-center mt-3"><h5>𝐒𝐨𝐥𝐯𝐞𝐝 𝐂𝐨𝐦𝐩𝐥𝐚𝐢𝐧𝐭𝐬</h5></div>
                    <div class="text-success text-center mt-2"><h1>  @ViewBag.Count </h1></div>
                </div>
            </div>

        </div>
    </div>



    <script type="text/javascript">

    </script>
</body>
</html>