@model FYP_App.Models.Login

<title>
    Smart Establishment
</title>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="~/Content/preloader.css" rel="stylesheet" />
    <link href="~/Content/Forgetpassword.css" rel="stylesheet" />
  
    <link rel="stylesheet" type="text/css" href="custom.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<div class="loader">
        <img src="~/Content/200.gif"  alt="Loading..." />
    </div>
<div class="login-dark">
    <form action="ForgotPassword" method="post">

        <h2 class="sr-only">Login Form</h2>
        <h6>Forget Your Password ?</h6>


        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>

        <h6>Enter Your Email Here !!</h6>
        <hr>
        <p style="color:darkseagreen; text-align: center" ><b>@ViewBag.SuccessMessage </b></p>
        <p id="example" style="  color: red; text-align: center">
            <strong> @ViewBag.errors </strong>
        </p>

        <div class="form-group"><input id="StudentName" class="form-control" type="email" name="Name" placeholder="Enter Your Email" required autofocus></div>
        <div class="form-group">
            <button  class="btn btn-primary btn-block btn-lg loading buttonload" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading...">Submit</button>
           </div>
            @*<div class="form-group"><button class="btn btn-primary btn-block" >Submit</button></div>*@
            <a href="@Url.Action("Login", "login")" class="btn btn-primary btn-block">Back to Login</a>

            <p style="color:darkseagreen"><b>  @Html.DisplayFor(Model => Model.LoginErrorMessage)</b></p>






</form>


</div>
<script src="custom.js"></script>
<script>
    $('.loading').on('click', function () {
        var $btn = $(this);
        $btn.button('loading');
        setTimeout(function () {
            $btn.button('reset');
        }, 5000);
    });

</script>
<script>



    function showDiv() {
        document.getElementById('welcomeDiv').style.display = "block";
    }



    window.addEventListener("load", function () {
        const loader = document.querySelector(".loader");
        loader.className += " hidden"; // class "loader hidden"
    });
</script>